<div class="container p-5 d-flex flex-wrap">
        {{#each characters as |character|}}
            <div class="card character-card ms-4 mb-4 shadow" style="width: 18rem;">
                    <img class="card-img-top" src="{{character.art}}" alt="character art">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p>Name: {{character.name}}</p>
                            </li>
                            <li class="list-group-item">
                                <p>Class: {{character.class}}</p>
                            </li>
                            <li class="list-group-item">
                                <p>Level: {{character.level}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
        {{/each}}
</div>