<div id="newPlayerPage" class="container-fluid my-4 p-3 rounded shadow text-light w-50" style="background-color: #751312;">
    <form>
        <h3>New Character Info</h3>
        <div class="form-group mb-4">
            <label class="form-label" for="nameInput">Name</label>
            <div class="input-group">
                <input type="text" id="nameInput" class="form-control" placeholder="Character's name">
                <button id="nameRandomizeBtn" class="btn btn-outline-light">Randomize</button>
            </div>
        </div>
        <div class="form-group mb-4">
            <label class="form-label" for="classSelect">Class</label>
            <select class="form-select" id="classSelect">
                <option selected>Select</option>
                {{#each classes as |class|}}
                <option id="{{class.title}}" class="{{class.id}}">{{class.title}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group m-b">
            <label class="form-label" for="statsGroup">Base Stats</label>
            <div class="row mb-2">
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text">Attack</span>
                        <input type="text" id="atkInput" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text">Defense</span>
                        <input type="text" id="defInput" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text">Hit Points</span>
                        <input type="text" id="hpInput" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text">Mana</span>
                        <input type="text" id="manaInput" class="form-control">
                    </div>
                </div>
            </div>
            <button id="rollStatsBtn" class="btn btn-outline-light">Roll Stats</button>
        </div>
        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-light btn-lg">Save!</button>
        </div>
    </form>
</div>

<script src="/js/create.js"></script>